<div class="card-panel form-container">
  <div class="form-header">
    <h2 class="section-title">{{ isEditing ? 'Editar Vehículo' : 'Nuevo Vehículo' }}</h2>
    <button class="btn-text" routerLink="/dashboard/vehicles">Cancelar</button>
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <p>Guardando...</p>
  </div>

  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
    
    <div class="form-row">
      <div class="form-group">
        <label>Marca</label>
        <input type="text" formControlName="make" placeholder="Ej. Toyota">
        <div class="error-msg" *ngIf="vehicleForm.get('make')?.invalid && vehicleForm.get('make')?.touched">
          La marca es obligatoria.
        </div>
      </div>

      <div class="form-group">
        <label>Modelo</label>
        <input type="text" formControlName="model" placeholder="Ej. Corolla">
      </div>
    </div>

    <div class="form-row three-col">
      <div class="form-group">
        <label>Año</label>
        <input type="number" formControlName="year">
      </div>
      <div class="form-group">
        <label>Placa / Patente</label>
        <input type="text" formControlName="licensePlate" style="text-transform: uppercase;">
        <div class="error-msg" *ngIf="vehicleForm.get('licensePlate')?.invalid && vehicleForm.get('licensePlate')?.touched">
          Placa inválida.
        </div>
      </div>
      <div class="form-group">
        <label>Color</label>
        <input type="text" formControlName="color">
      </div>
    </div>

    <div class="form-group">
      <label>Tipo de Vehículo</label>
      <div class="radio-group">
        
        <label 
          *ngFor="let option of vehicleOptions" 
          class="radio-option"
          [class.selected]="vehicleForm.get('vehicleType')?.value === option.value"
        >
          <input 
            type="radio" 
            formControlName="vehicleType" 
            [value]="option.value"
          >
          {{ option.icon }} {{ option.label }}
        </label>

      </div>
       <div class="error-msg" *ngIf="vehicleForm.get('vehicleType')?.invalid && vehicleForm.get('vehicleType')?.touched">
        Selecciona un tipo.
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-primary" [disabled]="isLoading">
        {{ isEditing ? 'Guardar Cambios' : 'Registrar Vehículo' }}
      </button>
    </div>

  </form>
</div>